body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    margin-top: 0px;
    background-color: #f4f4f9;
    color: #333;
}

.page {
    padding: 0px;
}

.title {
    display: flex;
    justify-content: center; /* Center the title */
    align-items: center; /* Vertically center items */
    position: relative; /* Position relative for absolute positioning of links */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.title h1 {
    margin: 0;
    flex: 1; /* Allow the title to take up available space */
    text-align: center;
    color: #333;
}
.title .links {
    position: absolute;
    right: 20px; /* Align links to the right */
}
.title .links a {
    text-decoration: none;
    color: #007bff;
}

/*******************************/
/* Controls */

.controls {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.position-controls, .date-controls {
    margin-bottom: 10px;
}

.controls label {
    margin-right: 5px;
}

.controls input {
    margin-right: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#date {
    margin-right: 0px;
    text-align: center;
    width: 100px;
}
#current-date {
    margin-left: 20px;
    margin-right: 20px;
}

input.invalid {
    background-color: #FFADB0;
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

#address {
    width: 30ch;
}
#latitude {
    margin-right: 0px;
    width: 11ch;
}
#longitude {
    width: 11ch;
}
#address.empty {
    color: #888;
}


.position-controls {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between elements */
    flex-wrap: wrap; /* Allows wrapping for smaller screens */
    justify-content: center; /* Center the form horizontally */
}

.address-container {
/*    display: flex;*/
    position: relative; /* For positioning suggestions */

}

#suggestions {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    background-color: white;
    width: 300px;
    z-index: 1001; /* Ensure it appears above other elements */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    top: 100%; /* Position below the input field */
    left: 0; /* Align with the input field */
}
.suggestion-item {
    padding: 8px;
    cursor: pointer;
}
.suggestion-item:hover {
    background-color: #f0f0f0;
}

#suggestions:empty {
    display: none;
}


/*******************************/
/* Timeline */

.timeline {
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.timeline-container {
    position: relative;
    height: 210px;
}

.timeline-periods-top, .timeline-periods-bottom, .timeline-points {
    position: absolute;
    left: 0;
    right: 0;
}

.timeline-periods-top, .timeline-periods-bottom {
    height: 40px;
    display: flex;
}

.timeline-periods-top {
    top: 80px;
}

.timeline-periods-bottom {
    top: 120px;
}

.timeline-points {
    height: 30px;
}

.timeline-points.top .time-point {
    bottom: -40px;
}

.timeline-points.bottom .time-point {
    top: 170px;
}

.period {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    /*font-weight: bold;*/
    font-size: 14px;
    border-radius: 8px; /* rounding */
}
 
.time-point {
    --arrow-position: 70%;
    white-space: pre;  /* wrap at \n */
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    transform: translateX(calc(-1 * var(--arrow-position)));
    background: white;
    border: 2px solid #333;
    border-radius: 8px; /* rounding */
    padding: 3px 5px;
    font-size: 14px;
    z-index: 10;
}
 
.time-point::before,
.time-point::after {
    content: '';
    position: absolute;
    left: var(--arrow-position);
    transform: translateX(-50%);
    width: 0;
    height: 0;
}
 
.time-point::after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}

.time-point::before {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    z-index: 1;
}

.timeline-points.top .time-point::after,
.timeline-points.top .time-point::before {
    bottom: -10px;
    border-top: 10px solid #333;
}

.timeline-points.bottom .time-point::after,
.timeline-points.bottom .time-point::before {
    top: -10px;
    border-bottom: 10px solid #333;
}

.night { background-color: #000; }
.invisible { background-color: transparent; }
.astronomical-twilight { background-color: #000080; }
.nautical-twilight { background-color: #0070FF; }
.civil-twilight { background-color: #00CDEC; }
.day { background-color: #EAEA00; color: #000 !important; }
.blue-hour { background-color: #00AAFF; }
.golden-hour { background-color: #FFA500; }
.sun-event { background-color: #808080 !important; color: white !important; }

.front {
  z-index: 1000;
}

/*******************************/
/* Ephemeris Table */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #abdbff;
    padding: 3px;
/*    color: white;*/
    font-weight: normal;
}

td {
    padding: 2px;
}
